h1{
    color:orangered;
    text-align: center;
  }
  .add-product{
      text-align: center;
  
    
  }
  .form-input{
      display: flex;
      flex-direction: column;
      width: 300px;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid black;
      justify-content: center;
      color:black;
    }
    form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items:center ;
      width: 100%;
    }
    button{
      color: rgb(69, 126, 143);
      background-color: orangered;
      color: white;
      font-weight: bold;
    
      padding: 10px 20px; 
      text-align: center; 
      text-decoration: none; 
      display: inline-block; 
      font-size: 16px; 
      margin: 2px 2px; 
      cursor: pointer
      
    }
    button:hover{
      background-color: #2078ca;
      color: white;
      background-color: greenyellow;
      background: linear-gradient(rgb(156, 60, 60),rgb(85, 8, 8),red);
      transform: scale(1.05);
     }