
#navbar{
    color:white;
    display:inline-block;
    margin-top: 10px;
}
#navbar > span{
    color: rgb(247, 247, 247);
    font-size: 26px;
    text-transform: uppercase;
}

.mydisplaybar{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(69, 126, 143);
    justify-content: center;
    align-items: center;
}
.item
{
    color: white;
    display:flex;
    justify-content: end;
    gap:15px;
    font-size: 18px;
    align-items: center;
    margin-top: -10px;
    
}
a{
    text-decoration: none;
    color: #f0f8ff;
    gap:10px;
}
.details{
    display:flex;
    justify-content: end;
    gap:10px;
    align-items: end;

}
.items{
    flex: 1;
    display: flex;
    width: 95%;
    justify-content: space-between;
}