<div class="mydisplaybar">
    <div id="navbar">
        <span [routerLink]="'/home'">E-Commerce Website</span>
    </div>
    <div class="items">
        <div class="item">
            <a href="" >About</a>
            <a href="" >Contact Us</a>
 
        </div>
        <div class="item">
            @if(username){
                <p>{{username}}</p>
                <span class="material-symbols-outlined" [routerLink]="'/cart'">
                    shopping_cart
                    </span>
                <span (click)="logout()">Logout</span>
            }@else{
                <span [routerLink]="'/login'">Login</span>
                <span [routerLink]="'/signup'">Sign Up</span>
            } 
                   
        </div>
    </div>
</div>
