
// #navbar{
//     color:white;
//     display:inline-block;
//     margin-top: 10px;
//     font-family: "Raleway", sans-serif;
//     font-weight: bolder;
// }
// #navbar > span{
//     color: rgb(247, 247, 247);
//     font-size: 26px;
//     text-transform: uppercase;
// }


#navbar {
    display: flex;
    align-items: center; 
    margin-top: 10px;
  }
  
  #navbar > span {
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    margin-right: 15px; 
    display: inline-block; 
  }
  
  #navbar .logo {
    display: flex;
    align-items: center; 
  }
  
  #navbar .logo img {
    height: 40px; 
    width: auto; 
  }
.mydisplaybar{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(69, 126, 143);
    justify-content: center;
    align-items: center;
}
.item
{
    color: white;
    display:flex;
    justify-content: end;
    gap:25px;
    font-size: 18px;
    align-items: center;
    margin-top: -10px;
    
}
a{
    text-decoration: none;
    color: #f0f8ff;
    gap:0px;
}
.details{
    display:flex;
    justify-content: end;
    gap:10px;
    align-items: end;

}
.items{
    flex: 1;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

#lblCartCount {
    font-size: 13px;
    background-color: antiquewhite;
    color: #e21111;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -25px; 
}