<div class="mydisplaybar">
    <div id="navbar">
        <span [routerLink]="'/home'">ShopScape</span>
        <div class="logo">
            <img src="assets/logo.png">

        </div>
       
    </div>
    <div class="items">
        <div class="item">
            @if (role!="ADMIN") {
                <span class="material-symbols-outlined" [routerLink]="'/home'">
                    home
                    </span>            
                <a href="" [routerLink]="'/about'">About</a>
                <a href="" [routerLink]="'/contactUs'">Contact Us</a>   
            }

        </div>
        <div class="item">
            @if(username){
                <p [routerLink]="'/profile'">{{username}} </p>
                @if (role!="ADMIN") {
                    <span class="material-symbols-outlined" [routerLink]="'/cart'">
                        shopping_cart
                         
                        <span id='lblCartCount'> {{cartItems}} </span>
                        </span>
                }
                <span (click)="logout()">Logout</span>
            }
          
            @else{
                <span [routerLink]="'/login'">Login</span>
                <span [routerLink]="'/signup'">Sign Up</span>
            } 
                   
        </div>
    </div>
</div>
