<div class="container">
    
    <button (click)="onAddCategory()" class="addcat" >Add Category</button>
    <ul class="cat-list">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                </tr>

            </thead>
            <tbody>
                @for (item of catData; track $index) {
                    <tr>
                        <td>{{item.name}}</td>
                    </tr>
                }
            </tbody>   
        </table>

    </ul>

    <div class="add-category">
        <h3>Add new category</h3>
        <form [formGroup]="addCategory" action="" method="post" class="form-box" (ngSubmit)="submit()">
        <input type="text" class="form-input" placeholder="enter the new category" name="name" formControlName="name"/>
    <div class="add-cat"> 
        <button type="submit">Add Category</button>
    </div>
        
    </form>
    </div>


</div>

