
table {
    width: 200%;
    border-collapse: collapse;
  }

  th {
    background-color: #b48888;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  

  td {
    border: 1px solid #dddddd;
    padding: 8px;
  }

  button {
   
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
 
    background-color: rgb(6, 206, 40);
    color: white;
    font-weight: bold;
  
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 2px 2px; 
    cursor: pointer
  }
  button:hover {
    background-color: #45a049;
  }
 