<div class="container">
    <div class="profile-container">
        <h2>Profile</h2>
        
        <div class="profile-field">
          <label>Name:</label>
          <span>{{ customer.name }}</span>
        </div>
        <div class="profile-field">
          <label>Email:</label>
          <span>{{ customer.email }}</span>
        </div>
        <div class="profile-field">
          <label>Phone Number:</label>
          <span>{{ customer.phone_number }}</span>
        </div>
      </div>
    </div>
