.container{
    width: 400px;
    height: 280px;
    padding:25px;
    border: 10px;
    background-color: aliceblue;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    
    z-index: 1;

}
button{
  top: 80%;
  left: 50%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(27, 116, 27);
  transform: scale(1.05);
 }

  .profile-container {
    font-family: Arial, sans-serif;
  }
  h2{
    color:rgb(33, 33, 133)
  }
  
  .profile-field {
    margin-bottom: 15px;
  }
  .button-class{
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
    color: darkcyan;
  }
  
  span {
    display: inline-block;
    min-width: 150px; /* Adjust as needed */
    padding: 5px;
    border: 1px solid #ccc;
  }