.container{
    width: 100%;
    height: 500px;
    background-image: url("/assets/background.jpg");
}
.form-bx{
    width: 400px;
    height: 450px;
    padding:25px;
    margin-top: 50px;
    border: 10px;
    background-color: aliceblue;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    z-index: 1;

}
h2{
    text-align: center;
    text-decoration: dotted;
    color: rgb(107, 21, 21);
}
.row{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: blueviolet;
}
.form-end{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blueviolet;
}
button{
    background-color: #f8f0f0;
    color: rgb(230, 8, 230);
}
.item-error{
    text-align: center;
    text-transform: none;
font-family:'Times New Roman', Times, serif;
    color: rgb(226, 60, 9);
}