.customer-list-container {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #181363;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.customer-list-table {
    width: 100%;
    border-collapse: collapse;
}

.customer-list-table thead {
    background-color: #6091be;
}

.customer-list-table th, .customer-list-table td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #3b2c2c;
}



.view-details {
    padding: 5px 10px;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.view-details:hover {
    background-color: #0077cc;
}

@media only screen and (max-width: 600px) {
    .customer-list-table, .customer-list-table thead, .customer-list-table tbody, .customer-list-table th,
    .customer-list-table td, .customer-list-table tr {
        display: block;
    }

    .customer-list-table th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .customer-list-table td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .customer-list-table td:before {
        position: absolute;
        top: 12px;
        left: 10px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        text-align: left;
        font-weight: bold;
    }

    .customer-list-table tr {
        margin-bottom: 15px;
    }
}