<div class="featuredProducts">
    <div class="featuredProduct-list">
        @for (cat of catList; track cat.id) {
            <div class="featuredProduct-item" (click)="showCatProducts(cat.id)">
                <div class="featuredProduct-image">
                    <img [src]="'../../../assets/category/'+cat.name+'.webp'" alt="" srcset="">
                </div>
                <p class="featuredProduct-name">
                    {{cat.name}}
                </p>
            </div>
        }
    </div>
</div>
