<div class="product-container">
    <div class="items">
        @for (prod of products; track $index) {
            <div class="item" (click)="showDetails(prod.id)">
                <div class="left">
                    <img [src]="'http://localhost:8084/image/view/'+prod.id+'/'+prod.image" alt="">
                </div>
                <div class="product-details">
                    <div class="title-cont">
                        <span class="title">{{prod.title}}</span>
                    </div>
                    <span class="product-price">₹{{prod.price}}.00</span>
                    <span class="description">{{prod.description}}</span>                   
                </div>
            </div>
        }
    </div>
</div>
