<div class="container">
  <div class="add-product-button">
    <button (click)="onAddProduct()" class="addProduct" [routerLink]="'/addproduct'">Add product
    </button>
  </div>
   <div class="product-list">

        <table>
            <thead>
                <tr>
                  <th>Title</th>
                  <th> Price</th>
                  <th>Quantity</th>
                  <th>Actions</th>
                </tr>
              </thead>
            <tbody>
           
              @for (item of productData; track $index) {
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <div class="action-buttons">
                            <button [routerLink]="'/updateproduct/'+item.id" class="update-button">Update</button>
                            <button (click)="onDeleteProduct(item.id)" class="delete-button">Delete</button>
                        </div>
                    </td>
                </tr>
        } 
    </tbody>
          
          </table>
        
        </div>
   
</div>