.container{
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}
.product-list{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}
table{
  width: 98%;
  padding: 15px;
  border-bottom: 1px solid #3b2c2c;
}
th{
  border: 1px solid #bda0a0;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    background-color: #555;
    color: #fff;
}
td {
  border: 1px solid #cac0c0;
  padding: 8px;
}
button{
  border: none;
    float: right;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    display: flex;
    align-self: flex-end; 
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;

}



button:hover{
  background-color: #2078ca;
  color: white;
  background-color: greenyellow;
  background: linear-gradient(rgb(156, 60, 60),rgb(85, 8, 8),red);
  transform: scale(1.05);
 }

.update-button {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.update-button:hover{
  background-color: #ca2020;
  color: white;
  background-color: rgb(109, 168, 20);
  background: linear-gradient(rgb(45, 121, 42),rgb(143, 143, 12));
  transform: scale(1.05)
}
 
.delete-button {
  background-color: rgb(202, 144, 144);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.delete-button:hover{
  background-color: rgb(238, 20, 20);
  transform:scale(1.05)
  

}
 
.action-buttons {
  display: flex;
  gap: 10px;
}



