.order-container {
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
    overflow-x: hidden;
    height: 460px;
}

table {
    width: 99%;
    border-collapse: collapse;
    padding: 15px;
    border-bottom: 1px solid #3b2c2c;
    
  }

  th {
   
    border: 1px solid #bda0a0;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    background-color: #555;
    color: #fff;
  
  }
  h1{
    text-align: center;
    font-weight: bold;
    color: cornflowerblue;
  }
  td {
    border: 1px solid #cac0c0;
    padding: 8px;
  }
  
 
  button {
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4285f4;
    color: white;
  }
  
  button:hover {
    background-color: #d82a0b;
    background: linear-gradient(57deg, #8826c9, #f945ff);
  }
  .view-details{
    background-color: #4CAF50;
    color: white;
  }
   .view-details:hover{
   background-color: #FFC107;
   background: linear-gradient(gold, #ff9100, #fc6262);
   }
 
  .edit {
    background-color: #FFC107;
    color: black;
  }
 
  .delete {
    background-color: #F44336;
    color: white;
  }
 
  select{
    width: 200px;
    height: 40px;
  }

