.cart-container {
    width: 80%;
    margin: 0 auto;
}

.cart-header, .cart-row, .cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.cart-header {
    background: #f7f7f7;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    color:rgb(22, 130, 192)
}
.material-symbols-outlined{
    font-size:small;
  }
h1{
    color:rgb(22, 130, 192)
}
.product {
    flex: 2;
    display: flex;
    align-items: center;
}

.cart-item-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.price, .quantity, .subtotal {
    flex: 1;
    text-align: center;
}

.cart-quantity-input {
    width: 50px;
    text-align: center;
}

.remove {
    cursor: pointer;
    text-align: center;
    flex: 0.5;
    background-color: rgb(165, 35, 35);
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    margin: 10px 0;
}

.cart-summary {
    border-top: 2px solid #ddd;
    padding-top: 10px;
   
}
.btn-continue,.btn-checkout{
    background-color: orangered;
    color: white;

}

.summary-total {
    text-align: right;
    margin: 20px 0;
    font-weight: bold;
}

.total-price {
    font-size: 20px;
    margin-left: 10px;
}