<div class="cart-container">
    <h1>Shopping Cart</h1>
    <div class="cart-header">
        <span class="product">Product</span>
        <span class="price">Price</span>
        <span class="quantity">Quantity</span>
        <span class="subtotal">Subtotal</span>
        <span class="remove"></span>
    </div>
    <div class="cart-items">
        @for (item of cartProducts; track $index) {
            <app-cart-product [productDetails]="item" (removeEvent)="onRemoveEvent($event)"></app-cart-product>>
        }
    </div>
    <div class="cart-summary">
        <button class="btn btn-continue" [routerLink]="'/home'">Continue Shopping</button>
        <div class="summary-total">
            <span>Total:</span>
            <span class="total-price"></span>
        </div>
        <button class="btn btn-checkout"  [routerLink]="'/checkout'">Place order</button>
    </div>
</div>
