<h2>My Orders</h2>

        <div class="order">
            <div class="order-items">
                <ul>
                    @for (order of orders; track $index) {
                        
                    <li>
                    <img [src]="'http://localhost:8084/image/view/'+order.id+'/'+order.image" alt="">
                        <div class="item-details">
                            <p>Order Id: {{order.order_id}}</p>
                            <p>{{order.title}}</p>
                            <p>{{order.quantity}}</p>
                            <p>{{order.total_price}}</p>
                        </div>
                    </li>
                    }
                </ul>
            </div>
          
        </div>

       
  