<div class="update-product">
    <h1>Update Product</h1>
  
    <!-- <form [formGroup]="addProduct" action="#" method="post" class="form-box" (ngSubmit)="submit()"> -->


        <input type="text" class="form-input" placeholder="Enter Product title" name="title" formControlName="title"/>
        <textarea type="text" class="form-input" placeholder="Enter Product Description" name="description"  formControlName="description"
        ></textarea>

        <input type="text" class="form-input" placeholder="Enter Product Price" name="price" formControlName="price" />


        <input type="text" class="form-input" placeholder="Enter the quantity" name="quantity" formControlName="quantity" />

        <input type="text" class="form-input" placeholder="Enter Product Category" name="category" formControlName="category" />


        <button type="submit">Update Product</button>

    <!-- </form> -->
</div>