
<div class="container">
    <div class="sidebar">
        <div class="items">
            <div class="category">
                <button class="category" (click)="showListCategory()" >
                    CATEGORY
                </button>
    
            </div>
           
                
            <div class="products">
                <button class="products" (click)="showListProduct()">
                    PRODUCTS
                </button>
                
                    
    
            </div>
            
       
        </div>
    </div>
    
    
</div>