

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 100%;
  min-height: 100vh; 
  background-color: #c9cad3;
  color: #fff;
  padding: 20px;
  z-index: 1;
}
button:hover{
  background-color: black;
  box-shadow: 0 2px 2px rgb(0,0,0,.15);
  transform: translateY(3px);
  transform: scale(1.05);
}

.items {
  display: flex;
  flex-direction: column;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard,
.category,
.products,
.orders,
.customers {
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  margin-right: 5px;
}
