<div class="add-product">
    <h1>Add New Product</h1>
    <p class="message-p">{{addProductMessage}}</p>
    <form [formGroup]="addProduct" action="#" method="post" class="form-box" (ngSubmit)="submit()">


        <input type="text" class="form-input" placeholder="Enter Product title" name="title" formControlName="title"/>
        <textarea type="text" class="form-input" placeholder="Enter Product Description" name="description"  formControlName="description"
        ></textarea>

        <input type="text" class="form-input" placeholder="Enter Product Price" name="price" formControlName="price" />


        <input type="text" class="form-input" placeholder="Enter the quantity" name="quantity" formControlName="quantity" />

        <input type="text" class="form-input" placeholder="Enter Product Category" name="category" formControlName="category" />

        <input type="file" class="form-input" title="Enter Product Image" name="image" (change)="onFileChange($event)" formControlName="image"/>
        <!-- <div class="form-group">
            <div class="upload-image">
                <div #image class="image-wrapper"></div>
                <div class="browse-btn">
                    <input type="file" name="cameraImg" id="cameraImg" />
                    <div class="browse-image">
                        <img src="assets/images.png" width="60px" />
                        <p>Browse image</p>
                    </div>
                </div>
            </div>
        </div> -->

        <button type="submit">Add Product</button>

    </form>
</div>